 
        body {
            background-color: #656868; 
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        #page_wrapper {
            width: 640px; 
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: #F4F4EE;
            background-image: url(img/page_bg.jpg);
            border: 4px solid white;
            display: flex;
            flex-wrap: wrap;
        }

        #page_header {
            width: 640px;
            height: 140px; 
            background: #222 url(img/header.jpg) no-repeat center center;
            background-size: cover;
            color: rgb(255, 255, 255);
            box-sizing: border-box;
        }

        .header-content {
            padding-top: 30px; 
            padding-left: 20px; 
        }

        #page_header h1 {
            margin: 0;
            font-size: 24px;
            letter-spacing: 8px;
            font-weight: normal;
        }

        #page_header h2 {
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            color: #E2D179;
        }

        #left_side {
            width: 480px; 
            background-color: #FCF8E3; 
            background-image: url(img/page_bg.jpg);
            padding: 10px 20px;
            box-sizing: border-box;
            min-height: 600px;
        }

        #left_side h3 {
            color: #A0410D; 
            font-size: 14px;
            margin: 15px 0 5px 0;
        }

        #left_side p {
            color: #333333; 
            font-size: 14px;
            line-height: 1.6;
            margin-top: 0;
        }
        
        #right_side {
            #right_side {
    width: 160px; 
    background-color: #E2D179; 
     min-height: 100%;
    box-sizing: border-box;
    border-left: 1px dotted black; 
}

.sidebar-header {
    background-color: #3A3B22; 
    color: white;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #FCF8E3; 
}

.sidebar-content {
    padding: 10px;
}

.sidebar-content h4 {
    font-size: 12px;
    color: #595A38; 
    margin: 10px 0 5px 0;
}

.sidebar-content ul {
    list-style-type: square; 
    padding-left: 18px;
    margin: 0;
}

.sidebar-content li a {
    font-size: 11px;
    color: blue;
    text-decoration: underline;
}
        }
        .see-also-title {
        margin-top: 10px;
            background-color: #595A38; 
            color: white;
            padding: 5px;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .sidebar-content {
            padding: 10px;
        }

        .sidebar-content h4 {
            font-size: 12px;
            color: #595A38;
            margin: 15px 0 5px 0;
        }

        .sidebar-content ul {
            list-style-type: square;
            padding-left: 18px;
            margin: 0;
        }

        .sidebar-content li a {
            font-size: 11px;
            color: blue;
            text-decoration: underline;
        }

        #page_footer {
            width: 640px;
            height: 70px;
            background-color: #3A3B22; 
            background-image: url(img/footer.jpg);
            color: #FCF8E3;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            border-top: 1px solid white; 
        }
    